---
---

@font-face {
  font-family: 'Roxie';
  font-size: 33px;
  src: url('../fonts/roxie_rossa.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-size: 20px;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-size: 20px;
  src: url('../fonts/Roboto-Bold.ttf');
}

:root {
	// Light main colors
	--pale: #f5f5f5;
	--almond: #eddfd1;

	// Greys
	--light-grey: #e7e5e0;
	--mid-grey: #9e9790;
	--dark-grey: #4e4e4e;

	// Accent Colors
	--orange: #db9853;
	--light-blue: #889cb3;
	--dark-blue: #355484;
	--green: #7B8D5E;
}

html {
	background-color: var(--pale);
	font-family: 'Verdana', 'PT Sans', sans-serif;
}

body {
	background-color: var(--pale);
	color: var(--dark-grey);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow-y: auto;
	padding-bottom: 2rem;
	padding-top: 6rem;
}

h1 {
  color: var(--dark-grey);
  font-family: 'Roxie', serif;
  font-size: 65px;
  text-align: center;
}

h2 {
  font-family: 'Roxie', serif;
  font-size: 55px;
	margin-bottom: 40px;
  text-align: center;
}

h3 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 33px;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

p {
	color: var(--dark-grey);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

li {
	color: var(--dark-grey);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

// NAVBAR HEADER
header {
	background-color: var(--pale);
	height: 100px;

	.header--logo {
		height: 100px;
	}
	
	.icon-bar {
		background-color: #ffffff;
		height: 3px;
	}
	
	#header-navbar-collapse {
		&.in {
			background-color: var(--dark-grey);
		}
	}

	.navbar-right {
		margin-top: .5rem;
	}
	
	.navbar--icons {
		color: var(--dark-grey);
		font-size: 24px;
		
		&:hover {
			background-color: var(--dark-grey) !important;
			border-radius: 50px;
			color: var(--pale);
		}
	}
}

.grey-header {
	color: var(--mid-grey);
}

.orange-header {
	color: var(--orange);
}

.green-header {
	color: var(--green);
}

.blue-header {
	color: var(--dark-blue);
}

// HOME SCREEN INDEX
.index {
	.index--logo {
		width: 100%;
	}

	.index--slogan {
		text-align: center;
	}

	.index--block-text {
		margin: 20px 40px;
		text-align: left;

		h2 {
			text-align: left;
		}
	}

	.index--block {

		.index--block-image {
			width: 100%;
		}

		.index--product-story {
			color: var(--mid-grey);
			font-family: 'Roxie', serif;
			text-align: left;
		}

		.index--values-header {
			text-align: center;
		}

		.index--why--subheader {
			padding-left: 20px;
			text-align: left !important;
		}

		.index--team-image {
			height: 200px;
			padding: 0;
		}

		.index--contact--p {
			text-align: center;
		}

		.index--contact--btn--row {
			align-items: center;
			display: flex;
			justify-content: center;
			
			.index--contact--btn--text {
				background-color: var(--dark-blue);
				border-radius: 50px;
				color: white;
				padding: 8px 20px;
				text-align: center;
			}
		}
	}
}

// POMANDER TECH PAGE
.pomander {
	margin-top: 100px;

	.pomander-story--image {
		margin-bottom: 3rem;
		margin-top: 2rem;
		max-width: 100%;
	}

	.pomander-app--link {
		color: #1d3354;
	}
}

.team {
	margin-top: 8rem;
	text-align: center;
}

.why {
	.why--big-question {
		background-color: var(--dark-grey);
		border-radius: 10px;
		color: #ffffff;
		height: 10rem;
		margin-bottom: 5rem;
		margin-top: 8rem;
		padding-top: 3rem;
		text-align: center;
	}

	.why--fresheyes {
		margin-bottom: 3rem;
		text-align: center;
	}
}

.contact {
	margin-top: 100px;

	.contact--header {
		margin-bottom: 4rem;
		margin-top: 4rem;
		text-align: center;
	}

	.contact--form-label {
		margin-left: -15px;
	}

	.form-group > label {
		width: 100%;
	}

	.contact--button {
		background-color: var(--dark-grey);
		color: #ffffff;
	}
}
